$primary: "blue";
@import 'ember-paper';

body {
  background: color($primary, '300');

  &.no-scroll {
    overflow: hidden;
  }
}

.gallery-toolbar {
  position: fixed;
  top: 0;
}

.grid-list {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;

  .grid-image {
    width: 100%;
    height: 75%;

    .grid-image-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 90% 67.5%;
      background-position: 50% 50%;
    }
  }
}

.detail-image {
  max-width: 100%;
  width: 100%;
}

.gray {
  background: color('grey', '500');
}

.yellow {
  background: color('yellow', '500');
}

.blue {
  background: color('blue', '500');
}

.red {
  background: color('red', '500');
}

.green {
  background: color('green', '500');
}
