{{#paper-content class="md-whiteframe-z1 grid-list"}}

  {{#paper-grid-list
    cols="3 xs-2 md-3 gt-md-4"
    rowHeight="4:3 xs-1:1 1:1"
    gutter="12px gt-sm-8px" as |grid|}}

    {{#each model.images as |image index|}}
		{{#grid.tile rowspan="1" class="grid-tile" as |tile|}}
	      <div class="tile-container" {{action "imageDetailHandler" image index}}>
	      	{{grid-image image=image index=index imageDetail="imageDetailHandler"}}
	      	{{#tile.footer}}
	      	  <h3>{{image-name image.value}}</h3>
	      	{{/tile.footer}}
	      </div>
	    {{/grid.tile}}
	{{/each}}

  {{/paper-grid-list}}

{{/paper-content}}

{{outlet}}